/*page*/

body {
    background: rgba(0, 0, 0, 1);
    font-family: 'Agency Fb';
    font-size: 30px;
    max-width: 1200px; /*pour éviter que tout se décale et que les img des divs soient en long*/
    margin: auto;   
    color: white;
    text-align: justify;
}

h1 {
    font-size: 60px;
    font-style: italic;
}

h2 {
    font-size: 50px;
    font-style: italic;
    margin-bottom: -20px;
}

h3 {
    font-size: 40px;
    margin-bottom: -20px;
}

h4 {
    font-size: 38px;
    margin-bottom: -5px
}

p {
    font-size: 36px;
}

small {
    font-size: 30px;
    align-self: flex-end;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
}



#all_header {
    display: flex;
/*    flex-wrap: nowrap;*/
    justify-content: center;
    align-items: center;
}

/*
header div {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 60px 0px 0px 0px;
}
*/

/*
#header_img {
    position: relative;
    margin-top: -240px;
}
*/

/* Navigation */

header nav {
    display: flex;
    align-self: stretch;
    color: white;
    position: fixed;
    z-index: 2; /*pour passer au desus de tout en position fixed*/
}

/*menu de navigation*/

/*
#menu {
    font-family: Arial;
    font-size: 15px;
}
*/

#menu, #menu ul {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
/*    color: white;*/
    font-weight: bold;
/*    white-space: nowrap;*/
}

#menu li {
    background: black;
    background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    float: left;
    border-left: 2px solid white;
    padding: 0;
    width: 8em;
    align-content: center;
    
}

/*parce que IE ne reconnaît pas le sélecteur supérieur*/
html<body #menu li {
    border-right: 1px solid transparent;  
}

#menu li ul {
    display: none;
    position: absolute;
}

#menu li ul li {
    border-top: 1px solid white;
}

html<body #menu li ul li {
    border-top: 1px solid transparent;
}

#menu li ul ul {
    margin: -22px 0 0 144px;
    border-left: 1px solid white;
}

#menu li:hover ul{
    display: block;
    position: relative;
    top: 0;
}

#menu a:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
}

#menu li:hover {
    background: rgb(30,30,30);
    background: -o-linear-gradient(bottom, rgba(30,30,30,1), rgba(30,30,30,.4));
    background: -webkit-linear-gradient(bottom, rgba(30,30,30,1), rgba(30,30,30,.4));
    background: -moz-linear-gradient(bottom, rgba(30,30,30,1), rgba(30,30,30,.4));
}

#no_display a {
    background: none;
}

#logo {
        border-right: 2px solid white;
}

/*section*/

section {
    margin: 15px 30px 15px 30px;
    color: white;
}

/* articles */

/*tour*/

#tour {
    display: block;
    list-style: none;
    position: relative;
    text-align: center;
    line-height: 30px;
    padding-right: 40px;
    margin-left: 5px;
}

#tour li {
    display: inline;
/*    white-space: nowrap;*/
}

#tour h3 {
    text-decoration: underline;
}

.button_book, .button_submit {
    background-color: rgba(220,20,60,.7);
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
}

.button_book:hover {
    background-color: rgba(220,20,60,1);
}

/*      Show      */



/*      slide_show      */

article {
    display: flex;
    flex-direction: column;
}

#slide_show {
    flex-wrap: wrap;
    position: relative;
    padding: 15px 20px 10px 20px;
}

#slide_show div {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 300px 0px 0px 0px;
}

#slide_show div p {
    font-weight: bold;
    margin: auto;
    width: 95%;
    text-align: justify;
    border-radius: 20px;
}
    
.performance_description {
    margin: 6px;
    border: 10px solid white;
    border-radius: 50px;
}

.first {
    background-image: url('http://i.imgur.com/k3RrcFc.jpg');
    margin-top: 40px;
}

.second {
    background-image: url('http://i.imgur.com/XvsXNMN.jpg');
}

.third {
    background-image: url('http://i.imgur.com/99HC612.jpg');
 }

 .fourth { 
    background-image: url('http://i.imgur.com/UYgK734.jpg');
}

/*small {
    display: none;
    position: absolute;
}*/


/*      Section History       */

#quote {
    font-style: oblique;
    margin: 20px; /* tabulation */
}

#fly {
   position: absolute;
    align-self: center;
/*
    min-width: 50%;
    min-height: 50%;
*/
/*    max-width: 1200px;*/
    z-index: -100;
    width: auto;
    height: auto;
    overflow: hidden;  
}


/*      Section Group           */








/*footer*/

footer {
    display: flex;
    position: relative;
    justify-content: space-around;
/*    line-height: 28px;
    align-self: flex-start;
    clear: both;
    color: white;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    z-index: 2;
*/
}

footer div {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 12em;
    flex-wrap: nowrap;
}

.button_submit {
    margin-left: 100px;
}

/*
footer div:hover {
    color: highlight;
}
*/

.button_submit:hover {
    background-color: rgba(220,20,60,1);
}